<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="board/layout/defaultLayout">

<head>
<th:block layout:fragment="title">
	<title>Weather</title>
</th:block>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<th:block layout:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/
		window.onload = function() {
			$('#datepicker').datepicker({
				showOn: 'button',
				buttonImage: 'http://jqueryui.com/resources/demos/datepicker/images/calendar.gif',
				buttonImageOnly: true,
				showButtonPanel: true,
				dateFormat: 'yymmdd',
				minDate: "-1D",
				maxDate: 0,
				closeText: "닫기",
				currentText: "오늘",
				prevText: '이전 달',
				nextText: '다음 달',
				monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
				monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
				dayNames: ['일', '월', '화', '수', '목', '금', '토'],
				dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
				dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
				weekHeader: "주",
				yearSuffix: '년',
				showMonthAfterYear: true
			});
			
			
			//  추가된 코드
			loadArea('city');
			
			
				
		};
		
		
		
        	/*]]>*/
	</script>
	
	
	<!-- ---------- -->
	<script>
	////
	$('#datepicker').on("change", function(){
		$('#time option:eq(0)').prop("selected", true);
		var now = new Date();
		var currentHour = now.getHours();
		var month = (now.getMonth()+1) < 10 ? "0" + (now.getMonth()+1) : (now.getMonth()+1);
		var nowDate = now.getDate() < 10 ? "0" + now.getDate() : now.getDate();
		var today = now.getFullYear() + "" + month + "" + nowDate;
		var datepickerValue = $(this).val();

		/* 오늘 날짜라면 */
		$('#time').children('option:not(:first)').remove();
		var html = '';
		if (datepickerValue == today ){
			for (var i=0; i<=currentHour; i++){
				html += '<option value="'+ i +'">'+ i +'시</option>';
			}
		}
		/* 어제였다면 */
		else{
			if (currentHour != 23){
				for (var i=currentHour + 1; i<24; i++){
					html += '<option value="'+ i +'">'+ i +'시</option>';
				}
			}
			else{
				alert(datepickerValue + " 날짜의 제공 가능한 날씨 데이터가 없습니다.")
				$(this).val('');
			}
		}
		$('#time').append(html);
	});
	////
	</script>
	<script>
	$('#step1').on("change", function() {
		loadArea('county', $(this));
	});

	$('#step2').on("change", function() {
		loadArea('town', $(this));
	});

	function loadArea(type, element) {
		var value = $(element).find('option:selected').text();
		var data = {type : type, keyword : value};

		console.log(data);
		/////////
		$.ajax({
			url: "/board/weatherStep.do",
			data: data,
			dataType: "JSON",
			method : "POST",
			success : function(res){
				if (type == 'city'){
					res.forEach(function (city) {
						$('#step1').append('<option value="'+city.doName+'">'+city.step1+'</option>')
					});
				}
				else if(type == 'county'){
					$('#county').siblings().remove();
					$('#town').siblings().remove();
					res.forEach(function (county) {
						$('#step2').append('<option value="'+county.doName+'">'+county.step2+'</option>')
					});
				}
				else{

				}
			},
			error : function(xhr){
				alert(xhr.responseText);
			}
		});
		//////////
	}
	</script>
	<!-- --------- -->
</th:block>
</head>
<body>
<th:block layout:fragment="content">

	<label>날씨</label>

	<form class="form-horizontal" id="weather">
		<div class="form-group">
			<select id="step1" class="emptyCheck" title="시/도">
				<option id="city" value="">시/도</option>
			</select>

			<select id="step2">
				<option id="county" value="">시/군/구</option>
			</select>

			<span>날짜 선택: <input type="text" id="datepicker" disabled="disabled" class="emptyCheck" title="날짜"></span>

			<select id="time" class="emptyCheck" title="시간">
				<option value="" selected>시간</option>
				<option th:each="i : ${#numbers.sequence(0,23)}" th:value="${i}" th:text="${i} + 시"></option>
			</select>

			<button type="button" class="btn btn-primary waves-effect waves-light" th:onclick="getWeather()">
				<span>실행</span>
			</button>

			<div>
				<table id="resultWeather" class="table"></table>
			</div>
		</div>
	</form>

</th:block>
</body>
</html>